    body {
        background-color:rgb(255, 230, 238);
    }
    h1 {
        color:rgb(71, 28, 56);
        font-family: "Lucida Console", monospace;
        margin: 20px;
    }
    h3 {
        color:rgb(71, 28, 56);
        font-family: "Lucida Console", monospace;
        margin: 20px;
    }
    p {
        color:rgb(80, 65, 94);
        font-family: "Lucida Console", monospace;
        margin: 20px;
    }
    .title_bar {
        background-color:rgb(181, 139, 167);
        margin: auto;
        padding: 1%;
        text-align: center;
    }
  
    
